section {
  min-height: 100vh;
}
nav.main-menu {
  position: relative;
  z-index: 999;
}
.pt-page {
  opacity: 0;
  transition: opacity 1s;

  &.pt-page-current {
    opacity: 1;
    transition: opacity 1s;
  }
}
